<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div style="margin: 100px;">
        <h2 style="text-align: center;"><%= title %></h2>
        <p style="text-align: center;"><%= error %></p>
    </div>
</body>

</html>