<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div style="margin: 100px;">
        <h1 style="text-align: center;">Welcome to Nodejs projet!</h1>
    </div>
</body>

</html>